  .YOLO{
    margin-top:80px;
    margin-left:20px;
    margin-right: 20px;
  }
  .py {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .images-container {
    display: flex; /* Flexbox para exibir lado a lado */
    justify-content: space-evenly; /* Espaço uniforme entre os elementos */
    align-items: center; /* Alinha verticalmente ao centro */
    margin-top: 20px; /* Espaço acima */
  }
  
  /* Estilo das imagens */
  .images-container img {
    width: 70%; /* Cada imagem ocupa 80% da largura */
    height: auto; /* Mantém a proporção da imagem */
    border: 1px solid #ddd; /* Opcional: borda leve */
    border-radius: 5px; /* Opcional: cantos arredondados */
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2); /* Sombra para destaque */
    align-items: center;
  }

  .classification-table {
    margin-top: 20px;
    text-align: center;
  }
  
  .classification-table table {
    margin: 0 auto;
    border-collapse: collapse;
    width: 80%;
  }
  
  .classification-table th, 
  .classification-table td {
    border: 1px solid #ddd;
    padding: 8px;
  }
  
  .classification-table th {
    background-color: #f4f4f4;
    font-weight: bold;
  }
  
  .classification-table td {
    text-align: left;
  }
  